/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 786px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**loader*/
.loadmore-after-btn-container,
.loadmore-after-searchform-container {
  width: 400px;
  padding-bottom: 24px;
  display: block;
}

.loader {
  margin-top: 20px;
  position: absolute;
  font-size: 16px;
  color: black;
  z-index: 9999;
  text-align: center;
}

/**FORM*/
.search-form {
  display: block;
  width: 400px;
}

#input-search {
  position: relative;
  width: 252px;
  height: 40px;
  margin-right: 8px;
  padding: 0 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}
#input-search:hover {
  border: 1px solid #000;
}

#input-search:focus {
  border-color: blue !important;
}
.btn-submit {
  width: 96px;
  height: 40px;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
  color: white;
}

.btn-submit:hover {
  background-color: #6c8cff;
}

/**Gallery*/

.gallery {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: baseline;
  align-items: center;
}

.gallery-item {
  list-style: none;
  min-width: 350px;
  width: calc((100% - 32px) / 2);
  height: 240px;
  display: flex;
  flex-direction: column;
  border: 2px solid black; /* Додавання рамки до зображень */
}

.gallery-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.image-caption {
  display: flex;
  gap: 8px;
  color: black;
  padding: 4px;
  width: 100%;
  text-align: center;
}

#btn-load-more {
  position: relative;
  display: none;
}

@media (max-width: 767px) {
  .container {
    max-width: 320px;
  }
  .loadmore-after-btn-container,
  .loadmore-after-searchform-container {
    width: 320px;
  }

  .search-form {
    width: 320px;
  }

  #input-search {
    width: 284px;
    margin-bottom: 12px;
    margin-right: 0px;
  }

  .gallery-item {
    min-width: 320px;
    width: calc(100%);
  }
}
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .gallery-item {
    min-width: 350px;
    width: calc((100% - 60px) / 3); 
  }
}
@media (min-width: 1492px) {
  .container {
    max-width: 1492px;
  }
  .gallery-item {
    min-width: 350px;
    width: calc((100% - 90px) / 4); 
  }
}
